<!DOCTYPE html>
<html>

<body>

<p>Hello {{ user.first_name|default:user.username }},</p>

<p>
We received a request to reset your password for your Placement Portal account.
</p>

<p>
Click the button below to choose a new password.
</p>

<p>
<a href="{{ reset_url }}">
Reset Password
</a>
</p>

<p>
If the button doesn't work, copy and paste the following link into your browser:
</p>

<p>
{{ reset_url }}
</p>

<p>
If you didn't request a password reset, you can safely ignore this email.
</p>

<p>
Regards,<br>
Placement Portal Team
</p>

</body>
</html>